*.[oa]
Makefile
**/.deps/*
*.gmo
*.rpm
*.deb
*.tar.gz

mandir/Makefile

stamp-h1
autom4te.cache
Makefile
config.status
.config/
config.log
intltool-extract.in
intltool-merge.in
intltool-update.in
m4/intltool.m4
config.h
Doxyfile

deb/DEBIAN/control
deb/DEBIAN/postinst
deb/DEBIAN/prerm

help/C/gwaei.xml
help/Makefile
help/gwaei-C.omf
help/gwaei.omf

po/Makefile
po/en@boldquot.insert-header
po/en@quot.insert-header
po/en@boldquot.po
po/en@quot.po
po/en@boldquot.po~
po/en@quot.po~
po/POTFILES

po/remove-potcdate.sed
po/Makevars.template
po/stamp-it

rpm/gwaei.spec
rpm/rpm_gconf_install_post.sh
rpm/rpm_gconf_uninstall_pre.sh
rpm/BUILD

src/gwaei
src/waei
src/Makefile
src/desktop/Makefile
src/img/Makefile
src/kpengine/Makefile
src/schemas/Makefile
src/xml/Makefile
src/kpengine/jdata.dat
src/kpengine/kpengine
src/kpengine/.deps/*

documentation/*

src/include/gwaei/definitions.h

Makefile.in
aclocal.m4
help/Makefile.in
mandir/Makefile.in
src/Makefile.in
src/desktop/Makefile.in
src/img/Makefile.in
src/kpengine/Makefile.in
src/schemas/Makefile.in
src/xml/Makefile.in

